defaults:
  - override hydra/hydra_logging: none #colorlog
  - override hydra/job_logging: none # colorlog

hydra:
  job:
    chdir: true  # to save objects in a working directory
  run:
    dir: .  # Disable Hydra's Directory Change

modeling:
  random_seed: 42

evaluation:
  retrain: false
  retest:  false
  re_calculate_mahalanobis: false
  top_k_contribution: 5
  use_model: 'A3TGCN' # 'A3TGCN' or 'GRU'
  null_padding_feature: false
  null_padding_target: false
  train_batch_size: 16 # 16  # training batch size
  evaluation_batch_size: 32
  slide_win: 6
  fill_nan: 'zero' # 'zero','mean', 'median'
  nab_scoring_profiles: [ "standard", "reward_fn" ] # Options: "standard", "reward_fn"
  model_save_path: "trained_models/"
  epochs: 15
  post_processing_strategies: ['likelihood', 'mahalanobis']
  topks: [1]
  distribution_anomaly_thresholds: [99.5, 99.6, 99.7, 99.8, 99.9]
#  mahalanobis_anomaly_thresholds: [99.6, 99.7, 99.8]
  anomaly_thresholds: [0.998, 0.9985, 0.999, 0.9997, 0.99975, 0.9998]
  long_windows: [30]
  short_windows: [2]
  ensembles:
#    http_codes: [ '5xx','4xx' ] # http codes can be 1xx, 2xx, 3xx, 4xx, 5xx
#    aggregations: [ 'count', 'avg', 'min', 'max' ]
    combination_mode: 'manual'        # ['auto', 'manual']
    auto_combination:
      num_selection: 3
      http_codes: ['5xx','4xx'] # http codes can be 1xx, 2xx, 3xx, 4xx, 5xx
      aggregations: ['count','avg','min', 'max']
    manual_combination:
#      http_codes: [ '5xx','4xx' ] # http codes can be 1xx, 2xx, 3xx, 4xx, 5xx
#      aggregations: [ 'count','min']
      http_codes: [ '5xx','4xx' ] # http codes can be 1xx, 2xx, 3xx, 4xx, 5xx
      aggregations: [ 'max','avg']

#  post_processing:
#    distance: 'mahala'
#    recreate: true
#    #    anomaly_thresholds: [99.5, 99.7, 99.8]
#    anomaly_thresholds: [99.8]

data_preparation_pipeline:
  grouping_mode: 'no_group'
  multiple_preprocessing: true
  reset_saved_data: false
  slide_win: ${evaluation.slide_win}
  null_padding_target: ${evaluation.null_padding_target}
  null_padding_feature: ${evaluation.null_padding_feature}
  fill_nan: ${evaluation.fill_nan}
  feature_subsets:
#    http_codes: ['5xx','4xx'] # http codes can be 1xx, 2xx, 3xx, 4xx, 5xx
#    aggregations: ['count','avg','min','max']
    http_codes: [ '5xx'] # http codes can be 1xx, 2xx, 3xx, 4xx, 5xx
    aggregations: ['count']
  features_prep:
    filter:
      http_codes: ['5xx'] # http codes can minbe 1xx, 2xx, 3xx, 4xx, 5xx
      aggregations: ['count'] # aggregations can be ['count', 'avg', 'min', 'max',' median', 'std', 'kurtosis', 'skewness']

  ground_truth_labels:
    path: "data/labels/"
    filename: "anomaly_windows.csv"

  input_file:
    path: "data/massaged/"
    filename: "pivoted_data_all.parquet"

  train_test_config:
    anomaly_window:
      minutes_before: 20
      minutes_after: 0  # Use Duration column values
    experiment_parameters:
      start_date: '2024-01-26' # Actual Satrt 26 Jan 2024
      train_end_date: '2024-02-29'
      test_start_date: '2024-03-01'
      end_date: '2024-05-31' # Actual End 31 May 2024

plotting:
  output_dir: 'plot_results'
  slide_win: ${evaluation.slide_win}
  model_save_path: "trained_models/"
  false_positive_rate:
    models: ['GRU', 'A3TGCN']
    subsets:
      http_codes: ['5xx','4xx']
      aggregations: ['count', 'avg','min','max']
  null_padding_features: ${multiple_evaluation.null_padding_feature}
  null_padding_targets: ${multiple_evaluation.null_padding_target}
  fill_nan_values: ['zero','mean', 'median']
  nab_profiles: ['standard', 'low_fn']

multiple_evaluation:
  models: ['GRU','A3TGCN']
#  models: ['GRU']
  slide_wins: [6, 12]
#  slide_wins: [6,8,12]
  subsets:
#    http_codes: [ '5xx', '4xx']
    http_codes: [ '5xx','4xx']
    aggregations: [ 'count', 'avg','min','max' ]
#    aggregations: ['max']
  fill_nan_values: ['zero','mean', 'median']
  null_padding_feature: [true, false]
  null_padding_target: [true, false]

model_configs:
  GRU:
    model_filename: 'GRU_autoencoder.h5'
#    encoding_dim: 32
#    learning_rate: 0.01
#    dropout_rate: 0.3
#    layer_cnt: 7
#    cell_cnt: 16 #16
#    patience: 10
    loss_function: "mse"
    null_padding_target: false
    null_padding_feature: false
    slide_win: ${evaluation.slide_win}
#    data_dir: "./trained_models/gru/"
  A3TGCN:
    model_filename: 'A3TGCN_autoencoder.pt'
    slide_win: ${evaluation.slide_win}
    shuffle_train: false
    data_dir: "./trained_models/a3tgcn/"
    null_padding_target: ${evaluation.null_padding_target}
    null_padding_feature: ${evaluation.null_padding_feature}